<a href="https://colab.research.google.com/github/ylmgrbzz/Car-Price-Prediction-with-Machine-Learning/blob/main/Car_Price_Prediction_with_Machine_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from matplotlib import pyplot as plt #veri görselleştirme için folium kütüphanesi kullanılır matplotlib de kullanılır
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet
import seaborn as sns 
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import PolynomialFeatures

In [2]:
car=pd.read_csv("car.csv")

In [3]:
car.head(3)

,İlan Tarihi,Marka,Arac Tip Grubu,Arac Tip,Model Yıl,Yakıt Turu,Vites,CCM,Beygir Gucu,Renk,Kasa Tipi,Kimden,Durum,Km,Fiyat
0,27/05/2020,Jaguar,XF,2.0 D Prestige Plus,2017.0,Dizel,Otomatik Vites,1801-2000 cc,176-200 BG,Lacivert,Hatchback 5 Kapı,Galeriden,2. El,26100,634500
1,16/06/2020,Acura,CL,-,2015.0,Dizel,Yarı Otomatik Vites,1301-1600 cc,101-125 BG,Mavi,Sedan,Sahibinden,2. El,127000,151500
2,14/06/2020,Acura,CL,2.2,1994.0,Benzin/LPG,Düz Vites,1301-1600 cc,101-125 BG,Turkuaz,Sedan,Sahibinden,2. El,175000,19750

In [4]:
x=car[["Model Yıl","Km"]]
y=car[["Fiyat"]]

In [7]:
reg=LinearRegression()
model=reg.fit(x,y)

In [8]:
model.coef_

array([[ 6.68162628e+03, -4.06911001e-01]])

In [9]:
model.intercept_

array([-13238923.29726013])

In [10]:
x=car[["Model Yıl","Km","Arac Tip Grubu"]]
y=car[["Fiyat"]]

In [14]:
arac=car[["Marka","Arac Tip Grubu","Model Yıl","Yakıt Turu","Vites","Km","Fiyat"]]
arac.head(3)

,Marka,Arac Tip Grubu,Model Yıl,Yakıt Turu,Vites,Km,Fiyat
0,Jaguar,XF,2017.0,Dizel,Otomatik Vites,26100,634500
1,Acura,CL,2015.0,Dizel,Yarı Otomatik Vites,127000,151500
2,Acura,CL,1994.0,Benzin/LPG,Düz Vites,175000,19750

In [12]:
arac["Fiyat"]=arac["Fiyat"]*3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
pd.get_dummies(arac["Marka"])

,Acura,Alfa Romeo,Audi,BMW,Chery,Chevrolet,Chrysler,Citroen,Dacia,Fiat,...,Nissan,Opel,Peugeot,Porsche,Renault,Rover,Seat,Skoda,Tofaş,Volkswagen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9041,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9042,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9043,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [15]:
pd.get_dummies(arac["Marka"],drop_first=True)

,Alfa Romeo,Audi,BMW,Chery,Chevrolet,Chrysler,Citroen,Dacia,Fiat,Ford,...,Nissan,Opel,Peugeot,Porsche,Renault,Rover,Seat,Skoda,Tofaş,Volkswagen
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9041,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9042,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9043,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [16]:
pd.get_dummies(arac[["Marka","Arac Tip Grubu"]],drop_first=True)

,Marka_Alfa Romeo,Marka_Audi,Marka_BMW,Marka_Chery,Marka_Chevrolet,Marka_Chrysler,Marka_Citroen,Marka_Dacia,Marka_Fiat,Marka_Ford,...,Arac Tip Grubu_XF,Arac Tip Grubu_XJ,Arac Tip Grubu_Xantia,Arac Tip Grubu_Xsara,Arac Tip Grubu_Yeti,Arac Tip Grubu_Z Serisi,Arac Tip Grubu_Zafira,Arac Tip Grubu_i20 Active,Arac Tip Grubu_i20 Troy,Arac Tip Grubu_Şahin
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9039,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9041,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9042,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9043,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
pd.get_dummies(arac,columns=["Marka","Arac Tip Grubu","Yakıt Turu","Vites"],drop_first=True)

,Model Yıl,Km,Fiyat,Marka_Alfa Romeo,Marka_Audi,Marka_BMW,Marka_Chery,Marka_Chevrolet,Marka_Chrysler,Marka_Citroen,...,Arac Tip Grubu_Zafira,Arac Tip Grubu_i20 Active,Arac Tip Grubu_i20 Troy,Arac Tip Grubu_Şahin,Yakıt Turu_Benzin/LPG,Yakıt Turu_Dizel,Yakıt Turu_Elektrik,Yakıt Turu_Hibrit,Vites_Otomatik Vites,Vites_Yarı Otomatik Vites
0,2017.0,26100,634500,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,2015.0,127000,151500,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,1994.0,175000,19750,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,2013.0,325,52000,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2010.0,207000,148750,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9039,1994.0,121212,12250,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
9040,1992.0,54000,16300,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
9041,1993.0,135000,19000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9042,1991.0,250000,11000,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9043,1996.0,11,15750,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [18]:
arac=pd.get_dummies(arac,columns=["Marka","Arac Tip Grubu","Yakıt Turu","Vites"],drop_first=True) 
arac.head(3)

,Model Yıl,Km,Fiyat,Marka_Alfa Romeo,Marka_Audi,Marka_BMW,Marka_Chery,Marka_Chevrolet,Marka_Chrysler,Marka_Citroen,...,Arac Tip Grubu_Zafira,Arac Tip Grubu_i20 Active,Arac Tip Grubu_i20 Troy,Arac Tip Grubu_Şahin,Yakıt Turu_Benzin/LPG,Yakıt Turu_Dizel,Yakıt Turu_Elektrik,Yakıt Turu_Hibrit,Vites_Otomatik Vites,Vites_Yarı Otomatik Vites
0,2017.0,26100,634500,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,2015.0,127000,151500,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,1994.0,175000,19750,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [19]:
y=arac["Fiyat"]
x=arac.drop("Fiyat",axis=1)
x

,Model Yıl,Km,Marka_Alfa Romeo,Marka_Audi,Marka_BMW,Marka_Chery,Marka_Chevrolet,Marka_Chrysler,Marka_Citroen,Marka_Dacia,...,Arac Tip Grubu_Zafira,Arac Tip Grubu_i20 Active,Arac Tip Grubu_i20 Troy,Arac Tip Grubu_Şahin,Yakıt Turu_Benzin/LPG,Yakıt Turu_Dizel,Yakıt Turu_Elektrik,Yakıt Turu_Hibrit,Vites_Otomatik Vites,Vites_Yarı Otomatik Vites
0,2017.0,26100,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
1,2015.0,127000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,1994.0,175000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,2013.0,325,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,2010.0,207000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9039,1994.0,121212,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
9040,1992.0,54000,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
9041,1993.0,135000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9042,1991.0,250000,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
9043,1996.0,11,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [20]:
reg=LinearRegression()
model=reg.fit(x,y)

In [21]:
model.score(x,y)

0.7728605349006262